<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <nav>
    <div class="nav-content">
      <div class="logo">
        <a href="/home">Jobox.</a>
      </div>
      <ul class="nav-links">
        <li><a href="/home">Feed</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Roadmaps</a></li>
        <li><a href="/profile">You</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </nav>
  {{!-- <section class="home"></section> --}}
  <div class="text">
    <p><h2>Sticky Navigation Bar</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed culpa minus ducimus nostrum aspernatur qui odit assumenda consectetur dolorum autem. Impedit aperiam nemo fuga numquam molestias sit quaerat quae doloribus est facilis ab, asperiores voluptatum dolore? Dignissimos porro corporis, veniam esse animi pariatur vitae quas est, amet minima et ratione tenetur earum officiis fugiat saepe eius nisi dolor, iusto voluptas obcaecati nam! Facere excepturi quibusdam, magni fugit quia, accusantium eum dolorum id dolores. Enim consectetur tempore distinctio, natus dolore incidunt. Repellendus ut natus, sit at inventore, reiciendis. Praesentium, tempore. Laborum consequuntur, illo voluptatem nobis rem molestias corporis laboriosam sint officiis, inventore atque, repellendus. Blanditiis molestiae minima consequuntur et accusamus illum, laboriosam placeat perferendis sed. Maiores eos laboriosam quas eius ratione dignissimos laborum doloremque, praesentium obcaecati cum consectetur magnam accusamus, esse, corporis aliquid pariatur mollitia corrupti cupiditate ipsa iure enim provident. Earum, voluptate! Similique quas veniam voluptas, maiores perspiciatis error voluptatum!</p>
    <br><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima libero consequatur necessitatibus voluptatibus vel, ut asperiores magnam velit, eum veritatis natus, dolorum sit ipsum quidem laborum! Facilis officia itaque, explicabo harum illum, repellat nihil corporis! Dolor, libero vero, consequuntur sed necessitatibus corporis. Facilis autem natus animi pariatur quaerat rerum nemo quibusdam veritatis provident error nostrum ratione dolore officiis non amet, quidem dolores eaque sint blanditiis odio porro ut, quam soluta. Necessitatibus, aperiam eum doloremque voluptate qui aliquid consequatur aspernatur debitis expedita unde vitae quia officiis, delectus, possimus ratione ex rerum dignissimos maxime molestiae asperiores. Tempora recusandae debitis exercitationem quo facere reprehenderit tenetur, dolore laboriosam repellat modi. Magnam ratione iste quo perspiciatis explicabo deserunt temporibus quaerat inventore quod accusantium atque, dolores commodi nobis distinctio, fugit illum, soluta quisquam est in omnis! Recusandae incidunt voluptatem, consequuntur doloremque! Nisi incidunt, iure quidem dolores odit sint, ut quam. Ipsum, maiores doloremque velit numquam quisquam.</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque deleniti repellendus dolorem impedit facere, similique voluptate earum recusandae, corrupti officia, non ad illo enim placeat explicabo beatae? Soluta sunt iste totam ipsa vitae harum omnis et, est in voluptatum laborum aut ex deleniti? Consequatur officia fugiat, debitis velit repudiandae porro deserunt odio harum! Pariatur accusantium possimus illo iure velit provident eaque nulla magnam ut alias maxime, id recusandae nihil in expedita quisquam necessitatibus eos, similique perferendis illum! Ea numquam veritatis animi autem voluptatum at deleniti ullam alias natus laboriosam voluptas iusto, aut perferendis delectus dolor eveniet architecto enim suscipit. Voluptates, quis distinctio rem dicta laboriosam et saepe sint porro, repudiandae aut sequi dolore omnis ducimus. Optio fugit placeat maxime qui suscipit non quidem voluptate, delectus molestiae nihil ipsum odit facere. Soluta dolorum voluptates quas voluptatum asperiores odio voluptas laborum illum ipsum ullam rem deserunt libero quidem hic, accusantium quam nisi quo facere nostrum cupiditate! Nesciunt quas, nihil soluta laborum nemo eligendi reprehenderit blanditiis, dolorum hic minus odit doloremque rem iste, distinctio possimus! Minima accusantium est at laudantium exercitationem nihil sapiente, earum dolores expedita autem sint suscipit praesentium quidem beatae perferendis soluta placeat aperiam? Quam veniam illum fugiat, facere dolorem illo tempora, eos repellendus ex dolor at voluptas. Explicabo, velit? Iste nulla explicabo odio ratione maiores, possimus doloremque placeat quis ipsam ex, fugit harum vero! Ratione, ducimus. Voluptatum eos ab asperiores, similique numquam quaerat est vero cumque tempore molestias eaque quia mollitia perferendis nobis nostrum dicta aliquid voluptates tenetur blanditiis reprehenderit non deserunt vel, in pariatur! Asperiores minus, blanditiis magni illo odio eveniet? Quos quis iure blanditiis ipsum atque natus explicabo corporis? Recusandae consequuntur voluptatum odit nobis non eos nam ab, illum, hic est suscipit delectus minima quam. Numquam perspiciatis accusamus quidem modi porro libero impedit illo optio amet, reprehenderit sit error perferendis consectetur tenetur iusto ratione non quae ullam pariatur nobis debitis architecto nesciunt natus! Esse voluptas consequatur veritatis nesciunt veniam molestias qui cupiditate placeat quae nostrum voluptatibus laudantium odit necessitatibus quasi rem deserunt, vel obcaecati? Tempore eligendi excepturi, inventore, vero quidem magni velit architecto laboriosam dolores officia sed nemo assumenda aperiam dolore voluptatibus in! Facilis commodi libero reiciendis exercitationem molestiae sunt voluptates similique eveniet iste eos, sint incidunt alias nobis debitis dolorem facere dicta ad beatae quibusdam a. Excepturi eum provident laborum blanditiis molestias assumenda hic! Excepturi aliquam dolores, ea veritatis eius praesentium minus, natus quod, impedit sequi obcaecati commodi. Ex, nam itaque, illum repellendus repellat voluptas alias rerum nisi, facere adipisci praesentium facilis? Cupiditate molestias repudiandae mollitia itaque cumque? Quia, omnis ad optio provident aliquam velit. Reiciendis expedita aut explicabo dolor laudantium molestias saepe mollitia unde harum recusandae placeat ipsam, culpa velit iusto quis aliquam necessitatibus tempora dicta delectus. Explicabo expedita quis, tempore aspernatur quia eaque! Aut facilis reprehenderit, officiis accusamus sint alias id iusto qui aperiam totam exercitationem obcaecati ab ex ducimus ea saepe aliquam nihil sit eaque numquam cupiditate dolorem? Velit enim rem perferendis quisquam ullam odit nemo. Sit facilis magni aperiam repellendus amet? Veniam, velit!</p>
  </div>

  <script>
  let nav = document.querySelector("nav");
    window.onscroll = function() {
      if(document.documentElement.scrollTop > 10){
        nav.classList.add("sticky");
      }else {
        nav.classList.remove("sticky");
      }
    }
  </script>   
</body>
</html>