*{
    margin: 0;
    padding: 0;
    background-color: rgb(129, 129, 162);
}
body{
    display: grid;
    place-items: center;
}

h1{
    /* color: rgb(223, 155, 52); */
    margin-top: 20vh;
    margin-bottom: 30px;

}
input{
    font-size: 1rem;
    width: 300px;
    padding: 6px 2px; 
    margin: 10px 0 10px 0;
}
.sub{
    background-color:rgba(50, 141, 180, 0.929);
    cursor: pointer;
}

form{
    /* margin-top: 20vh; */
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
    padding: 20px;
    background-color: rgba(13, 184, 197, 0.811);
}